@let ph = lang.ph();
<app-overlay class="top" [ngClass]="{'show': show()}">
    @if(!embedHelper.isEmbedded()){
    <a [vibrateHaptic]="10" ch-button [routerLink]="['/']">🏠</a>
    <app-file-change [accept]="file.access()" [label]="'📃'" />
    } @else {
    <a title="Read on Chytanka" ch-button class="open-chtnk-link" [href]="link()" target="_blank"
        rel="noopener noreferrer"></a>
    }
    <separator />
    @if (!isFileRoute()) {
    <button [vibrateHaptic]="10" ch-button class="tshadow" [title]="ph.share" (click)="showShare()">📢</button>
    <!-- <button [vibrateHaptic]="10" ch-button class="tshadow" [title]="'Download'" (click)="showDownload()">📥</button> -->
    }
    <button [vibrateHaptic]="10" ch-button class="tshadow title" [title]="titleText()"
        (click)="showInfo()">{{titleText()}}</button>
    @let episodeLangs = getCaptionLangs();
    @if(episodeLangs.length > 0){
    <select name="select-episode-lang" id="episode-lang" ch-button (input)="onEpisodeLangChange($event)">
        @for(lang of episodeLangs; track $index) {
        <option [value]="lang">{{lang}}</option>}
    </select>}
    <app-view-mode-bar (valueChange)="setViewModeOption($event)" [options]="viewer.viewModeOptions"
        [value]="viewer.viewModeOption().code" />
</app-overlay>

<app-dialog class="dialog" #shareDialog (onToggle)="onToggle.emit($event)" [title]="'📢 ' + ph.share">
    <episode-share-form [episode]="episode()" [playlistLink]="playlistLink()"
        (shareLinkUpdate)="onShareLinkUpdate($event)" />
</app-dialog>

<app-dialog class="dialog" #downloadDialog (onToggle)="onToggle.emit($event)" [title]="'📥 Download '+ episode().title">
    <episode-download-form [episode]="episode()" [currentPlaylistItem]="currentPlaylistItem()" />
</app-dialog>

<app-dialog class="dialog" #infoDialog (onToggle)="onToggle.emit($event)" [title]="'ℹ️️ '+ titleText()">
    <episode-info-table [episode]="episode()" />
</app-dialog>