<main>
  <div class="wrapper">
    <div class="form-wrapper">
      <h1 class="logo-text">@defer{ <app-text-embracer [text]="lang.phrases.shortTitle" /> }</h1>
      <form (submit)="onSubmit()">
        <div style="display: flex; gap: 1ch;">
          <input name="chtnk_url" type="url" required autofocus [placeholder]="lang.phrases.enterLink"
            (input)="inputLink($event)" [value]="link()">
          <button [title]="lang.phrases.history" (click)="showHistory()" class="button empty" style="">📜</button>
        </div>
      </form>
    </div>

    <div class="slogan-wrapper">
      <h2 class="slogan-header">{{lang.phrases.slogan}}</h2>
      @if (linkParams()) {
      <a class="button primary" [routerLink]="['',linkParams()?.site, linkParams64()?.id]">
        <span>{{lang.phrases.letsgo}} </span>
        <span class="site-name">{{linkParams()?.site}}</span>
        <span class="site-address" [title]="linkParams()?.id">{{'/'+linkParams()?.id | truncate}}</span>
      </a>
      }
    </div>
  </div>
</main>

<aside>
  @defer{ <img class="logo" src="/assets/icons/icon-512x512.svg" alt="Chytanka Logo"> }
</aside>

@defer{ <lp-header /> }
@defer{ <lp-footer /> }


<app-dialog #historyDialog [title]="'📜 ' + lang.ph().history">
  @defer{ <app-history-list /> }
</app-dialog>