:host {
    display: grid;
    padding: 1rem;
    grid-template-columns: 61.8fr 38.2fr;
    align-items: center;
    height: 100dvh;
    background: rgb(0, 39, 65);

    app-chytanka-logo-with-tags {
        height: 80dvh;
    }

    @media (max-aspect-ratio: 1) or (max-width: 640px) {
        grid-template-columns: auto;
        // grid-template-rows: 61.8fr 38.2fr;
        grid-template-rows: 1fr 1fr;

        app-chytanka-logo-with-tags {
            height: unset;

            ::ng-deep svg {
                margin: auto;
                height: auto;
                width: 40vw;
            }
        }
    }

    @media (max-width: 640px) and (max-height: 640px) {
        grid-template-rows: unset;
    }

    @media (prefers-color-scheme: light) {
        background: var(--surface-avarage);
    }
}

:root.truemode :host {
    background: black;

    @media (prefers-color-scheme: light) {
        background: white;
    }
}

main {
    display: grid;
    row-gap: 2ch;
    // overflow: auto;
    max-height: 100%;
    padding: 4ch 0;
}

aside {
    max-height: 100%;
    min-height: 0;
    padding: 4ch;
    display: grid;

    @media (max-aspect-ratio: 1) or (max-width: 640px) {
        padding: 2ch;
    }

    @media (max-width: 640px) and (max-height: 640px)  {
        display: none;
    }
}

lp-footer,
lp-header {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    transition: all .2s linear;
}

lp-header {
    top: 0;
    bottom: unset;
}

:host ::ng-deep app-overlay {

    &::after,
    &::before {
        content: unset;
    }
}

:host {
    transition: all var(--t) ease-in-out;
}

:host:has(dialog[open]) {
    transform: scale(calc(1 - var(--scale-diff-x, .1)), calc(1 - var(--scale-diff-y, .1)));
}

@media (prefers-reduced-motion: reduce) {
    :host:has(dialog[open]) {
        transform: none !important;
    }
}