:host {
    display: grid;
    padding: 1rem;
    grid-template-columns: 61.8fr 38.2fr;
    align-items: center;
    height: 100dvh;
    background: rgb(0, 39, 65);

    app-chytanka-logo-with-tags {
        height: 80dvh;
    }

    @media (max-aspect-ratio: 1) or (max-width: 640px) {
        grid-template-columns: auto;
        // grid-template-rows: 61.8fr 38.2fr;
        grid-template-rows: 1fr 1fr;

        app-chytanka-logo-with-tags {
            height: unset;
        }
    }

    @media (prefers-color-scheme: light) {
        background: #eceff2;
    }
}

main {
    display: grid;
    row-gap: 2ch;
    // overflow: auto;
    max-height: 100%;
    padding: 4ch 0;
}

aside {
    max-height: 100%;
    min-height: 0;
    padding: 4ch;
    display: grid;
}

lp-footer,
lp-header {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    transition: all .2s linear;
}

lp-header {
    top: 0;
    bottom: unset;
}

.logo {
    display: block;
    max-width: 100%;
    max-height: 100%;
    min-height: 0;
    height: auto;
    margin: auto;
}

:host ::ng-deep app-overlay {

    &::after,
    &::before {
        content: unset;
    }
}

:host {
    transition: all var(--t) ease-in-out;
}

:host:has(dialog[open]) {
    transform: scale(calc(1 - var(--scale-diff-x, .1)), calc(1 - var(--scale-diff-y, .1)));
    // filter: blur(3px);
}

:host:has(input[type=url]:focus) {
    lp-footer,
    lp-header,
    #createListLink {
        opacity: 0;
        pointer-events: none;
    }
}