@let ph = lang.ph();
<manga-page [dir]="viewer.viewModeOption().dir" style="margin: auto 0;">

    <svg-text-box dir="ltr" style="font-family:'Troubleside'" frame="3" [fontSize]="32" [lines]="[
    ph.getByKey(viewer.viewModeOption().hintPhraceKey) + '',
    viewer.viewModeOption().emoji
    ]" />

    @let viewModeChangeHint = splitPhrase(ph.viewModeChangeHint);
    <svg dir="ltr" frame="3" class="abs" viewBox="0 0 200 150">
        <text class="hand-text" fill="currentColor" font-size="11">
            <tspan x="50%" y="38%">{{viewModeChangeHint[0]}}</tspan>
            <tspan x="50%" y="48%">{{viewModeChangeHint[1]}}</tspan>
        </text>
    </svg>

    @let showHidePanelHint = splitPhrase(ph.showHidePanelHint, 3);
    <svg-text-box class="bubble" dir="ltr" frame="1" [lines]="showHidePanelHint" />
    <svg-text-box class="bubble" dir="ltr" frame="2" [lines]="[
        viewer.viewModeOption().mode === 'pages' ? ph.keyboardHorNavigationHint : ph.keyboardVerNavigationHint,
        ph.keyboardFullscreenHint,
        ph.keyboardShareHint,
        ph.keyboardPlaylistHint,
        
    ]" />
    <!-- ph.keyboardDownloadHint -->

    <img frame="4" style="display: block;" src="/assets/icons/chtnk.svg" alt="Chytanka logo">

    <div dir="ltr" frame="5">
        @if (getPrevIndex() >=0 && playlist()[getPrevIndex()]; as prev) {
        @let label = '⏪' + (prev.title ?? ph.untitled) + ' ' + (getPrevIndex() + 1);
        @let routerLink = ['/', prev.site, prev.id];
        @let queryParams = {lang: lang.lang(), list: playlistLink(), vm: viewer.viewModeOption().code};
        <svg-text-box class="bubble" dir="ltr" frame="1" [lines]="[label]" [link]="routerLink" [params]="queryParams" />
        }
    </div>

</manga-page>   