:host:has(.view.long) {
	--ratio: auto;
	overflow-y: auto;
	container-type: unset;
	container-name: unset;
	touch-action: pan-y;
}

.view.long {
	margin: 0 auto;
	max-width: 800px;

	manga-page,
	app-manga-page-even {
		max-height: unset;
		width: 100%;
	}
}