@let dir = viewMode.dir();
@let mode = viewMode.mode();
@let nsfwEpisode = episode().nsfw;
@if (gamepad.gamepad.connected()) {
<gamepad-cursor [cursorVisible]="gamepad.gamepad.cursorVisible() && viewerUi.isFullScreen()" [x]="gamepad.gamepad.x()"
    [y]="gamepad.gamepad.y()" />
}
<div #viewRef class="view" [class]="mode" (scroll)="onScroll()" (scrollend)="onScrollEnd()" [dir]="dir"
    (dblclick)="onViewDblClick($event)" (click)="onViewClick($event)">

    <chtnk-page (agree)="nsfw.agree()" (disagree)="nsfw.disagree()" [showNsfw]="nsfw.show()" [nsfw]="nsfwEpisode"
        [class]="mode" [dir]="dir">
        <app-hint-page [class]="mode" [currentPlaylistItem]="currentPlaylistItem()" [playlist]="readlist.readlist()"
            [playlistLink]="playlistLink()" />
    </chtnk-page>

    @for(img of episode().images; track img.src; let i = $index) {
    <chtnk-page [attr.data-page-index]="i" (longPageDetected)="viewMode.setLongStripMode()" (agree)="nsfw.agree()"
        (disagree)="nsfw.disagree()" [showNsfw]="nsfw.show()" [nsfw]="nsfwEpisode" [src]="img.src" [alt]="img.alt"
        [inputWidth]="img.width ?? 1000" [inputHeight]="img.height ?? 1000" [preload]="pageTracking.shouldPreload(i)"
        [index]="i" [class]="mode" [dir]="dir" [showLoading]="true" />
    }

    <chtnk-page class="last-hint-page" (agree)="nsfw.agree()" (disagree)="nsfw.disagree()" [showNsfw]="nsfw.show()"
        [nsfw]="nsfwEpisode" [class]="mode" [dir]="dir">
        <app-thanks-page [playlist]="readlist.readlist()" [currentPlaylistItem]="currentPlaylistItem()"
            [episode]="episode()" [playlistLink]="playlistLink()">
            @if(episode().images.length > 0) {
            <ng-content ngProjectAs="source-logo" select="source-logo" />
            <ng-content />
            } @else {
            <svg-text-box dir="ltr" style="font-family:'Troubleside'" [fontSize]="32"
                [lines]="['😢 '+lang.ph().noPagesFound ]" />
                <svg-text-box class="bubble info" dir="ltr" style="font-family:'Troubleside'" [fontSize]="32"
                [lines]="[lang.ph().noPagesFoundDesc ]" [padding]="32" />
            <!-- <p>{{lang.ph().noPagesFoundDesc}}</p> -->
            <a style="margin-top: 1ch;" [vibrateHaptic]="10" class="button medium border" [routerLink]="['/']">🏠</a>
            }
        </app-thanks-page>
    </chtnk-page>

    @if((episode().images.length || 0) % 2 > 0) {
    <chtnk-page class="last-blank-page" [class]="mode" [dir]="dir" />
    }
</div>

@defer{
@if (episode()) {
<app-viewer-header [show]="viewerUi.showOverlay()" [episode]="episode()" [playlistLink]="playlistLink()"
    [currentPlaylistItem]="currentPlaylistItem()" (onToggle)="viewerUi.isDialogOpen.set($event)" />
}
}

@defer{
<app-viewer-footer [show]="viewerUi.showOverlay()" [currentPlaylistItem]="currentPlaylistItem()"
    [playlist]="readlist.readlist()" [playlistLink]="playlistLink()" [episode]="episode()"
    [activeIndexs]="pageTracking.activeIndexes()" (togglefulscreen)="viewerUi.toggleFullScreen()"
    (pageactive)="scroll.scrollToPage($event)" (onToggle)="viewerUi.isDialogOpen.set($event)" />
}

@defer{ <app-warm-filter class="filter" [kelvin]="viewMode.viewer.nightlight()" /> }