:host {
    display: grid;
    min-height: 100dvh;
}

:host:has(.error-message) {
    background-image: radial-gradient(circle, rgba(0, 0, 0, 0) 40%, rgba(207, 19, 82, .1) 100%);
}

.error-message {
    display: grid;
    place-items: center;
    gap: 2ch;
    min-width: min(50vw, 50vh);
    margin: auto;
    // aspect-ratio: 3/4;
    border-radius: 1ch;
    margin-inline: auto;
    padding: 2rem;
    text-wrap: balance;
    text-align: center;
    border: 1px solid;
    border-color: rgba(207, 19, 82, .4);
    background-color: rgba(207, 19, 82, .05);

    p {
        margin: 0;
        font-size: clamp(1rem, 1.5vw, 2rem);
    }

    footer {
        display: flex;
        place-items: center;
        gap: 1.5ch;
    }
}

.button {
    --q: 1;

    user-select: none;
    border: 0;
    font: inherit;
    color: inherit;
    padding-inline: calc(var(--q) * 1ch);
    padding-block: calc(var(--q) * 1ch);
    border-radius: .5ch;
    cursor: pointer;
    background: hsl(203.44 8% 16%);
    transition: all .25s ;
    text-wrap: balance;
    -webkit-tap-highlight-color: transparent;
    box-shadow: 0 .1ch .2ch #0004;

    &.mediun {
        --q: 1.5
    }

    &.large {
        --q: 2
    }

    &.primary {
        background: #166496;
    }

    &:hover {
        background-color: #166496;
        color: #ffd60a;
    }

    &:active {
        background-color: rgba(0, 15, 30, 1);
    }
}