@if(episode$ | async; as episode){

@if (!(loading$ | async)) {
<app-viewer [playlist]="playlist" [playlistLink]="playlistLink" [currentPlaylistItem]="currentPlaylistItem"
    [episode]="episode"><ng-content /></app-viewer>
}

}

@if(error$ | async; as error){
<div style="padding: 1rem; margin: auto;">
    <div class="error-message">
        <h1>🤨</h1>
        <p>{{ error }}</p>
        <footer>
            <a class="button mediun" [routerLink]="'/'">🏠</a>
            <button autofocus class="button large primary" (click)="onRefreshData()">{{lang.ph().tryAgain}}</button>
        </footer>
    </div>
</div>
}

@if(loading$ | async; as loading){
<loading />
} @else {

}