:host {
	display: flex;
	gap: 1ch;
	align-items: center;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 1;
	// padding: 1ch calc(1rem + .25ch) 1.25ch 1rem;
	padding: 2ch 3ch;
	pointer-events: none;
	transition: transform var(--t) ease-in-out;
	font-size: .8rem;
	line-height: 1;

	transform: translateY(100%);

	&.top {
		top: 0;
		bottom: unset;
	transform: translateY(-100%);

	}

	&.show {
		transform: translateY(0);
		// opacity: 1;
		pointer-events: unset;
	}
}