@let isLink = (value?.site && value?.post_id);

@if (isLink) {
<div class="cover-wrapper">
    <img [routerLink]="getRouteLink()" class="cover" [src]="value.cover" alt="">
</div>

<a class="title" [routerLink]="getRouteLink()">
    <small class="site-tag">{{getSiteTag()}}</small>&nbsp;
    @if(value.size){ <small class="site-tag">{{value.size | filesize}} </small>&nbsp;}
    @if(value.page && value.pages){ <small class="site-tag">{{value.page}}/{{value.pages}}</small> &nbsp;} 
    
    {{value.title ?? lang.ph().untitled}}

</a>
} @else {
<div class="cover-wrapper">
    <img class="cover" [src]="value.cover" alt="">
</div>

<div class="title">
    {{value.title ?? lang.ph().untitled}} @if(value.page && value.pages){ {{value.page}}/{{value.pages}} }
</div>
}
<small style="width: min-content; opacity: .8; line-height: 1;">{{value.updated | date : 'short'}}</small>

<button class="button small empty" style="margin-right: 1ch;" (click)="onDelete(value.id)">❌</button>