<app-overlay class="show top">
    <button [vibrateHaptic]="10" [title]="lang.ph().faq+' (F1)'" class="button tshadow" (click)="showHelp()">❔</button>
    <button [vibrateHaptic]="10" [title]="lang.ph().settings+' (F2)'" class="button tshadow" (click)="showSettings()">⚙️</button>
    <separator/>
    <button [vibrateHaptic]="10" [title]="lang.ph().history+ ' (Ctrl+H)'" (click)="showHistory()" class="button tshadow">📜</button>
    <!-- <button title="Downloads" disabled class="button tshadow">📥</button>
    <button title="Library" disabled class="button tshadow">📚</button> -->
    <app-extension-button style="margin-left: auto;" />
    <app-lang-toggle />
</app-overlay>

<app-dialog #faqDialog [title]="'🙋‍♂️ ' + lang.ph().faq">
    @defer{ <app-faq /> }
</app-dialog>

<app-dialog #settingsDialog [title]="'⚙️ ' + lang.ph().settings">
    @defer{ <app-settings /> }
</app-dialog>

<app-dialog #historyDialog [title]="'📜 ' + lang.ph().history">
    @defer{ <app-history-list /> }
  </app-dialog>