:host {
    position: relative;
    min-height: 0;
    min-width: 0;
    display: grid;
    gap: 1ch;
    align-content: center;
}

#logoPath {

    fill: var(--accent);

    .light {
        display: none;
    }

    @media (prefers-color-scheme: light) {
        .light {
            display: unset;
        }

        .dark {
            display: none;
        }
    }
}

.filters {
    position: fixed;
    user-select: none;
    pointer-events: none;
}

svg,
img {
    display: block;
    min-width: 0;
    min-height: 0;
    user-select: none;
    pointer-events: none;
}

.version {
    font-weight: bold;
    text-align: center;
    opacity: .5;
    color: #fff;

    @media (prefers-color-scheme: light) {
        color: #000;
    }

    a,
    a:hover {
        color: inherit;
    }

    a:hover {
        text-decoration: underline;
    }
}

ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1ch;
    align-items: anchor-center;
    align-self: start;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100%;
}

.tag {
    z-index: 1;
    transition: all var(--t) linear;
    // position: absolute;
    padding: .5ch;
    text-align: center;
    border-radius: .25ch;
    font-size: small;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    --b: #ffd60a;
    --f: black;
    background-color: var(--b);
    color: var(--f);
    box-shadow: var(--shadow-1);
    list-style: none;
    text-box: trim-both cap alphabetic;

    &.reddit {
        --b: #FF4500;
        --f: white;
    }

    &.pixiv {
        --b: #0091d4;
        --f: white;
    }

    &.blankary {
        --b: #000;
        --f: white;
    }

    &.imgur {
        --b: #1bb76e;
    }

    &.mangadex {
        --b: #ff6740;
    }

    &.nhentai {
        --b: #ed2553;
    }

    &.zenko {
        --b: #078DEE;
        --f: white;
    }

    &.zip {
        --b: #0074D9;
    }

    &.cbz {
        --b: rgb(216, 68, 68);
    }

    &.pdf {
        --b: #0074D9;
    }

    &.mobi {
        --b: #4CAF50;
        --f: #FFC107;
    }
}

.svg-wrap {
    position: relative;
    display: grid;
    place-items: center;
    max-width: 100%;
    max-height: 100%;
    min-height: 0;

    svg {
        max-width: 100%;
        max-height: 100%;
        margin: auto;
    }
}