:host {
    display: flex;
    flex-direction: column;
    gap: 2ch;

    .wrap {
        display: grid;
        gap: 2ch;
        margin-top: 2ch;
    }

}

.summary-title {
    display: inline-flex;
    gap: 1ch;
    align-items: center;
    width: calc(100% - 17px);

    button {
        margin-left: auto;
    }
}