:host {
    position: absolute;
}

dialog {
    --r: 1ch;
    --b: 2px;
    padding: 0;
    max-width: min(calc(100vw - 4ch), 60ch);
    max-height: calc(100dvh - 8ch);
    border-radius: var(--r);
    // border: var(--b) solid #166496;
    border: 0;
    background-color: rgb(0, 15, 30);
    color: inherit;
    margin-top: 4ch;

    @media (prefers-color-scheme: light) {
        background-color: #fff;
        border-color: #4081b1;
    }

    &::backdrop {
        --brightness: .4;
        backdrop-filter: brightness(var(--brightness)) grayscale(.8) sepia(0.5);

        @media (prefers-color-scheme: light) {
            --brightness: .9;
            // background-color: #fff1;
        }
    }

    .dialog-wrapper {
        display: grid;
        max-height: 100%;
        width: 100%;
        grid-template: auto 1fr auto / 1fr;
        width: min(80vw, 60ch);
    }

    header {
        --rH: calc(var(var(--r) - var(--b)));
        border-top-left-radius: var(--rH);
        border-top-right-radius: var(--rH);

        @media (prefers-color-scheme: light) {
            text-shadow: 0 0 .25ch #0003;
        }
    }

    header,
    footer {
        background-color: rgb(0, 39, 65);
        padding: 2ch;
        border: 0 solid #166496;

        @media (prefers-color-scheme: light) {
            background-color: #c3d3e3;
        }
    }

    header {
        border-top-left-radius: calc(var(--r) - var(--b));
        border-top-right-radius: calc(var(--r) - var(--b));
        border-bottom-width: 2px;
        border-color: var(--shc);
        display: grid;
        grid-template-columns: 1fr auto;
        align-items: center;

        h2,
        h4 {
            margin: 0;
        }

        &:has(form) {
            padding: .5ch 2ch;
            gap: 1ch;
        }
    }

    footer {
        border-top-width: 2px;
        border-bottom-left-radius: calc(var(--r) - var(--b));
        border-bottom-right-radius: calc(var(--r) - var(--b));
    }

    section {
        padding: 2ch;
        overflow: auto;
    }

    &[open] {
        // display: flex;
        box-shadow:  var(--flat-shadow-high);
    }
}