:host {
    display: grid;
    gap: 2ch;
}

dl {
    margin: 1rem 0;
    padding: 0;

    dt {
        align-items: center;
        display: flex;
        gap: 1ch;

        img {
            max-width: 2ch;
            height: auto;
            max-height: 2ch;
        }
    }

    dd {
        margin: 0 0 1rem;
    }
}

ul {
    margin: 0;
    padding: 0;

    li {
        list-style: square;
        list-style-position: inside;
        padding-left: 1ch;

        &::marker {
            text-combine-upright: all;
            content: '\2228 \a0';
            color: #fff5;
        }
    }
}