@if(episode$ | async; as episode){
<app-viewer [episode]="episode">
    <div style="direction: ltr; user-select: text !important; text-wrap: balance; padding: 1rem; text-align: center; display: grid;
    place-content: center;
    justify-items: center; min-height: 50vh;">
        <a href="https://imgur.com" target="_blank" rel="noopener noreferrer" style="display: flex; gap: 1ch; ">
            <img src="/assets/logos/imgur-logo.svg" alt="Imgur logo">
        </a>
        <p>{{lang.phrases.imagesVia}}<a href="https://imgur.com" target="_blank" rel="noopener noreferrer">Imgur</a>
            API.
            {{lang.phrases.thanks}}<br>{{lang.phrases.detalisCopy}}</p>
    </div>
</app-viewer>
}
@if(error$ | async; as error){
<div class="error-message">
    {{ error }} <br>
    <button (click)="refreshData()">Ше раз</button> <br>
    <a [routerLink]="'/'">🏠</a>
</div>
}
@if(loading$ | async; as loading){
<div class="loading">⏳</div>
}