:host {
    display: grid;
    min-height: 100dvh;
}

:host:has(.error-message) {
    background-image: radial-gradient(circle, rgba(0, 0, 0, 0) 40%, rgba(207, 19, 82, .1) 100%);
}

.error-message {
    display: grid;
    place-items: center;
    gap: 2ch;
    min-width: min(50vw, 50vh);
    margin: auto;
    // aspect-ratio: 3/4;
    border-radius: 1ch;
    margin-inline: auto;
    padding: 2rem;
    text-wrap: balance;
    text-align: center;
    border: 1px solid;
    border-color: rgba(207, 19, 82, .4);
    background-color: rgba(207, 19, 82, .05);

    p {
        margin: 0;
        font-size: clamp(1rem, 1.5vw, 2rem);
    }

    footer {
        display: flex;
        place-items: center;
        gap: 1.5ch;
    }
}