<app-overlay class="show">
  <!-- <small>{{lang.ph().shortTitle}} <a href="https://github.com/chytanka/chytanka.github.io/releases" target="_blank" rel="noopener noreferrer">v{{version}}</a>
  </small>
  <separator /> -->

  @for (item of social; track $index) {
  <a [href]="item.link" target="_blank" rel="noopener noreferrer">
    <img style="width: 2ch;" [src]="item.logoSrc" [alt]="item.alt">
  </a>
  }
  <separator />
  <a [routerLink]="'/list'">Create List</a>

  <made-in-ukraine />
</app-overlay>