:host {
    display: flex;
    flex-direction: column;
    row-gap: 2ch;
    // grid-template-columns: auto minmax(auto, 80ch) auto;
}

.logo-text {
    all: unset;
}

app-text-embracer {
    --border-width: calc(var(--border-size));
    --frame-color: var(--border-color);
    --dot-color: var(--border-color);
    color: var(--accent);

    font-family: 'Troubleside', sans-serif;
    font-weight: 900;
    font-size: clamp(1rem, 8vw, 5rem);
    justify-content: center;

    ::ng-deep>span {
        box-shadow: var(--shadow-1);
    }

    @media (prefers-color-scheme: light) {}

    @media (max-width: 1080px) {
        font-size: clamp(1rem, 7vw, 8rem);
    }

    @media ((orientation: portrait) and (max-aspect-ratio: 1)) {
        font-size: clamp(1rem, 10vw, 8rem);
    }
}

.form-wrapper {
    min-width: 0;
    // grid-column: 2;
    display: grid;
    gap: 2ch;
    padding: 0px;

    place-content: center;
}

form {
    backdrop-filter: blur(var(--blur));
    z-index: 3;
    border-radius: .5ch;
    width: 100%;
    position: relative;
}

app-file-change ::ng-deep .button {
    padding-inline: 2ch;
    font-family: 'Courier New', Courier, monospace;
    // background: unset;

    text-overflow: ellipsis;
    max-width: 90vw;
    overflow: hidden;
    white-space: nowrap;
}

input[type=url],
textarea {
    display: block;
    font: inherit;
    padding: 1.5ch 2ch;
    background: transparent;
    font-family: 'Courier New', Courier, monospace;
    color: inherit;
    width: 100%;
    transition: all var(--t) cubic-bezier(0.075, 0.82, 0.165, 1);
    border-radius: .5ch;
    border: var(--border-size) solid var(--border-color);
    box-shadow: var(--shadow-1);
    // border: 0;
    background-color: #16649610;
    color: #ffd60a;

    @media (prefers-color-scheme: light) {
        color: #166496;
    }



    &:focus {
        border-color: #166496;
        outline: unset;
    }
}

input[type=url]::placeholder {
    color: var(--accent);
    opacity: 0.6;
}

.favicon {
    width: 1.25rem;
    aspect-ratio: 1;
}

.site-name {
    text-transform: uppercase;
    font-size: smaller;
    padding: .25ch .5ch;
    border-radius: .2ch;
    background-color: rgb(255 255 255 / .2);
}

.slogan-wrapper {
    display: grid;
    // grid-template-columns: 1fr auto;
    place-items: center;
    gap: 2ch;
    grid-column: 2;
}

.slogan-header {
    all: unset;
    font-family: 'EB Garamond', serif;
    font-style: italic;
    opacity: .72;
    text-wrap: balance;
}

.go-btn {
    display: flex;
    gap: 1ch;
    align-items: center;
    --dot-color: var(--border-color);
    border: var(--border-size) solid var(--dot-color);
    --stroke: #002741;
    --gl: radial-gradient(circle 1px at 0px 0px, var(--dot-color) 1px, transparent 0);
    --bg-1: var(--gl) 0px 0px / 8px 8px;
    --bg-2: var(--gl) 0px 0px / 4px 4px, var(--gl) 1.5px 1.5px / 4px 4px;
    background: var(--bg-1);

    text-transform: uppercase;
    font-weight: bold;
    box-shadow: var(--shadow-2);

    @media (prefers-color-scheme: light) {
        --dot-color: #166496;
        color: #166496;
        --stroke: #eceff2;
    }

    &:hover,
    &:focus {
        background: var(--bg-2);
        color: var(--accent);
    }

    &:active {
        box-shadow: 0 0 transparent;
    }
}

.offline-banner {
    border-radius: .5ch;
    --c: oklch(0.553 0.2211 20.3);
    --shadow-color: oklch(from var(--c) var(--avarage-l-2) c h);
    --shadow-2: 2px 2px var(--surface), var(--shadow-distance-2) var(--shadow-color);

    font-family: 'Courier New', Courier, monospace;
    --gl: radial-gradient(circle 1px at 0px 0px, oklch(from currentColor l c h /.5) 1px, transparent 0);
    --bg-1: var(--gl) 0px 0px / 8px 8px;
    background: var(--bg-1);
    box-shadow: var(--shadow-1);
    border: var(--border-size) solid var(--border-color);
    display: inline-block;
    padding: 1ch;
    font-weight: bold;
    text-align: center;
}