:host {
    display: grid;
    row-gap: 1ch;
    grid-template-columns: auto minmax(auto, 80ch) auto;
}

.logo-text {
    all: unset;
}

app-text-embracer {
    --mono-color-1: #4c93c8;
    --mono-color-2: #002741;
    --border-color: var(--mono-color-1);
    --border-width: 2px;
    color: #ffd60a;
    --shc: #166496;
    font-family: 'Troubleside', sans-serif;
    font-weight: 900;
    font-size: clamp(1rem, 8vw, 5rem);
    justify-content: center;
    -webkit-text-stroke: var(--mono-color-2) var(--border-width);
    --dot-color: var(--mono-color-1);
    paint-order: stroke fill;

    @media (prefers-color-scheme: light) {
        --mono-color-1: #166496;
        --mono-color-2: #eceff2;
        --shc: var(--mono-color-1);
        color: var(--mono-color-1);
        -webkit-text-stroke: var(--mono-color-1) var(--border-width);

        color: var(--mono-color-2);
    }

    @media (max-width: 1080px) {
        font-size: clamp(1rem, 7vw, 8rem);
    }

    @media ((orientation: portrait) and (max-aspect-ratio: 1)) {
        font-size: clamp(1rem, 10vw, 8rem);
    }
}

::ng-deep app-text-embracer.pride>span {
    --theme-base: #166496;
    --shc: oklch(from var(--theme-base) var(--avarage-l-2) c h);
    --border-color: oklch(from var(--theme-base) .64 0.2 h);
    --dot-color: oklch(from var(--theme-base) .7 0.2 h);
    color: oklch(from var(--theme-base) .7 0.2 h);
    -webkit-text-stroke: var(--shc) var(--border-width);

    // --gl: radial-gradient(circle 1px at 0px 0px, var(--dot-color) 1px, transparent 0);

    border-image: linear-gradient(90deg, #e40303, #ff8c00, #ffed00, #008026, #004dff, #750787);
    border-image-slice: 1;

    &:nth-of-type(2),
    &:nth-of-type(1) {
        --theme-base: #e40303;
    }

    &:nth-of-type(3) {
        --theme-base: #ff8c00;
    }

    &:nth-of-type(4) {
        --theme-base: #ffed00;
    }

    &:nth-of-type(5) {
        --theme-base: #008026;
    }

    &:nth-of-type(6) {
        --theme-base: #004dff;
    }

    &:nth-of-type(7) {
        --theme-base: #750787;
    }
}

::ng-deep app-text-embracer.pride:has(span:nth-of-type(8))>span {

    &:nth-of-type(3),
    &:nth-of-type(1),
    &:nth-of-type(2) {
        --theme-base: #e40303;
    }

    &:nth-of-type(4) {
        --theme-base: #ff8c00;
    }

    &:nth-of-type(5) {
        --theme-base: #ffed00;
    }

    &:nth-of-type(6) {
        --theme-base: #008026;
    }

    &:nth-of-type(7) {
        --theme-base: #004dff;
    }

    &:nth-of-type(8) {
        --theme-base: #750787;
    }
}

@property --halloween-base {
    syntax: "<color>";
    inherits: true;
    initial-value: #FF7518;
}

::ng-deep app-text-embracer.halloween>span {
    --shc: oklch(from var(--halloween-base) var(--avarage-l-2) c h);
    --border-color: oklch(from var(--halloween-base) .64 0.2 h);
    --dot-color: oklch(from var(--halloween-base) .7 0.2 h);
    color: oklch(from var(--halloween-base) .7 0.2 h);
    -webkit-text-stroke: var(--shc) var(--border-width);

    animation: halloween 5s steps(3) alternate infinite;
}

@keyframes halloween {
    0% {
        --halloween-base: #A0FF00;
        
    }

    50% {
      --halloween-base: #FF7518;
    }

    100% {
          --halloween-base: #6C2DC7;
    }
}

.form-wrapper {
    grid-column: 2;
    display: grid;
    gap: 2ch;
    padding: 0px;
}

form {
    backdrop-filter: blur(var(--blur));
    z-index: 3;
    border-radius: .5ch;
    max-width: 80ch;
    width: 100%;
    position: relative;
}

input[type=url],
textarea {
    display: block;
    font: inherit;
    padding: 1.5ch 2ch;
    background: transparent;
    font-family: 'Courier New', Courier, monospace;
    color: inherit;
    width: 100%;
    transition: all var(--t) cubic-bezier(0.075, 0.82, 0.165, 1);
    border-radius: .5ch;
    border: 2px solid #166496;
    box-shadow: var(--flat-shadow-medium);
    border: 0;
    // background-color: #16649680;
    color: #ffd60a;

    @media (prefers-color-scheme: light) {
        color: #166496;
    }



    &:focus {
        border-color: #166496;
        outline: unset;
    }
}

input[type=url]::placeholder {
    color: #ffd60a;
    opacity: 0.6;

    @media (prefers-color-scheme: light) {
        color: #166496;
    }
}

.favicon {
    width: 1.25rem;
    aspect-ratio: 1;
}

.site-name {
    text-transform: uppercase;
    font-size: smaller;
    padding: .25ch .5ch;
    border-radius: .2ch;
    background-color: rgb(255 255 255 / .2);
}

.slogan-wrapper {
    display: grid;
    // grid-template-columns: 1fr auto;
    place-items: center;
    gap: 2ch;
    grid-column: 2;
}

.slogan-header {
    all: unset;
    font-family: 'EB Garamond', serif;
    font-style: italic;
    opacity: .72;
    text-wrap: balance;
}

.slogan-rainbow {
    background: linear-gradient(90deg, #ff826e, #ff9600, #d5c100, #54de68, #78b8ff, #f68dff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    filter: brightness(1.25);

    @media (prefers-color-scheme: light) {
        filter: brightness(0.8);
    }
}

.slogan-halloween {
    color: #FF7518;
}

.go-btn {
    display: flex;
    gap: 1ch;
    align-items: center;
    --dot-color: #166496;
    border: 1px solid var(--dot-color);
    --stroke: #002741;
    --bg-1: var(--gl) 0px 0px / 4px 4px;
    --bg-2: var(--gl) 0px 0px / 3px 3px, var(--gl) 1.5px 1.5px / 3px 3px;
    --gl: radial-gradient(circle 1px at 0px 0px, var(--dot-color) 1px, transparent 0);
    background: var(--bg-1);

    text-transform: uppercase;
    font-weight: bold;
    // -webkit-text-stroke: 0.5ch var(--stroke);
    // paint-order: stroke fill;

    box-shadow: var(--flat-shadow-high);


    @media (prefers-color-scheme: light) {
        --dot-color: #166496;
        color: #166496;
        --stroke: #eceff2;
    }

    &:hover,
    &:focus {
        --dot-color: #4c93c8;
        background: var(--bg-2);

    }
}