@let ph = lang.ph();
@let online = fileNetFacade.net.online();

<div class="form-wrapper">
  @if (online === false ) {
  <div class="offline-banner">
    🚫 {{ph.noInternet}}
  </div>
  }
  <h1 class="logo-text">
    <app-text-embracer [ngClass]="linkInit.setts.theme()" [text]="ph.shortTitle" />
  </h1>
  @if (online) {
  <form (submit)="navFacade.goToParsedLink()">
    <input [vibrateHaptic]="5" [vibrateClick]="false" [vibrateInput]="true" name="chtnk_url" type="url" required
      autofocus [placeholder]="'🔗 '+ph.enterLink" (input)="linkFacade.inputLink($event)" [value]="linkFacade.link()">
  </form>
  }

  <app-file-change [accept]="fileNetFacade.file.access()" [label]="fileNetFacade.openFileLabel()" />
</div>

<div class="slogan-wrapper">
  <h2 class="slogan-header">
    <slogan />
  </h2>
  <app-go-button [data]="linkFacade.linkData()" [ph]="ph" />
</div>