:host {
	position: relative;
}

img {
	pointer-events: none;
	user-select: none;
}

app-nsfw-warning {
	position: absolute;
	z-index: 1;
	max-width: 400px;
}

figure {
	margin: 0;
	justify-self: baseline;
	position: relative;

	&.nsfw {
		filter: blur(4rem) brightness(.1);
		transition: all var(--t) ease-in-out;
	}

	&.nsfw.show {
		filter: blur(0) brightness(1);
	}
}

loading {
	position: absolute;
	z-index: 0;
	width: 100%;
	padding: 2rem;
}

svg.captions {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	// pointer-events: none;
	max-width: 100%;
	max-height: 100%;

	.frames {
		polygon {
			cursor: pointer;
			fill: rgba(255, 255, 0, 0);
			stroke: transparent;
			stroke-width: 2px;

			&:hover {
				stroke: #166496;

			}
		}
	}
}

.text-layer {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	max-width: 100%;
	max-height: 100%;
}