:host.long {
    display: block;
    width: 100%;

    .page {
        display: block;
        width: 100%;

        figure {
            width: 100%;
        }

        img {
            display: block;
            width: auto;
            margin: 0 auto;
            width: 100%;
            height: auto;
            position: relative;
        }
    }

    &>.images {
        min-height: 400px;
    }

    loading {
        text-align: center;
    }
}