:host.pride {
    --pride-red: oklch(from #e40303 0.2624 0.064157 h);
    --pride-ora: oklch(from #ff8c00 0.2624 0.064157 h);
    --pride-yel: oklch(from #ffed00 0.2624 0.064157 h);
    --pride-gre: oklch(from #008026 0.2624 0.064157 h);
    --pride-blu: oklch(from #004dff 0.2624 0.064157 h);
    --pride-fio: oklch(from #750787 0.2624 0.064157 h);

    background: linear-gradient(120deg, var(--pride-red), var(--pride-ora), var(--pride-yel), var(--pride-gre), var(--pride-blu), var(--pride-fio));

    @media (prefers-color-scheme: light) {
        --pride-red: oklch(from #e40303 0.96 0.0128 h);
        --pride-ora: oklch(from #ff8c00 0.96 0.0128 h);
        --pride-yel: oklch(from #ffed00 0.96 0.0128 h);
        --pride-gre: oklch(from #008026 0.96 0.0128 h);
        --pride-blu: oklch(from #004dff 0.96 0.0128 h);
        --pride-fio: oklch(from #750787 0.96 0.0128 h);
    }
}

::ng-deep app-text-embracer.pride>span {
    --theme-base: #166496;
    --shc: oklch(from var(--theme-base) var(--avarage-l-2) c h);
    --border-color: oklch(from var(--theme-base) .64 0.2 h);
    --dot-color: oklch(from var(--theme-base) .7 0.2 h);
    color: oklch(from var(--theme-base) .7 0.2 h);
    -webkit-text-stroke: var(--shc) var(--border-width);

    // --gl: radial-gradient(circle 1px at 0px 0px, var(--dot-color) 1px, transparent 0);

    border-image: linear-gradient(90deg, #e40303, #ff8c00, #ffed00, #008026, #004dff, #750787);
    border-image-slice: 1;

    &:nth-of-type(2),
    &:nth-of-type(1) {
        --theme-base: #e40303;
    }

    &:nth-of-type(3) {
        --theme-base: #ff8c00;
    }

    &:nth-of-type(4) {
        --theme-base: #ffed00;
    }

    &:nth-of-type(5) {
        --theme-base: #008026;
    }

    &:nth-of-type(6) {
        --theme-base: #004dff;
    }

    &:nth-of-type(7) {
        --theme-base: #750787;
    }
}

::ng-deep app-text-embracer.pride:has(span:nth-of-type(8))>span {

    &:nth-of-type(3),
    &:nth-of-type(1),
    &:nth-of-type(2) {
        --theme-base: #e40303;
    }

    &:nth-of-type(4) {
        --theme-base: #ff8c00;
    }

    &:nth-of-type(5) {
        --theme-base: #ffed00;
    }

    &:nth-of-type(6) {
        --theme-base: #008026;
    }

    &:nth-of-type(7) {
        --theme-base: #004dff;
    }

    &:nth-of-type(8) {
        --theme-base: #750787;
    }
}

::ng-deep .slogan-rainbow {
    background: linear-gradient(90deg, #ff826e, #ff9600, #d5c100, #54de68, #78b8ff, #f68dff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    filter: brightness(1.25);

    @media (prefers-color-scheme: light) {
        filter: brightness(0.8);
    }
}