<fieldset>
    <legend>🛠️ {{lang.ph().baseSettings}}</legend>

    <section>
        <div>
            <p class="setting-title">
                <span class="label">🈚 {{lang.ph().language}}</span>
                <small>{{lang.ph().getByKey(getLangValue(lang.lang()).label)}}</small>
            </p>
            <p><small>{{lang.ph().settingLangDesc}}</small></p>
        </div>
        <div><app-lang-toggle /></div>
    </section>

    @if(vibro.enabled()){
    <section [class]="!vibro.vibrationOn()? 'inactive': ''">
        <div>
            <p class="setting-title">
                <label class="label" for="Vibration">🫨 Vibration</label>
                @if(vibro.vibrationOn()) {
                <small class="on">ON</small>
                } @else {
                <small class="off">OFF</small>
                }
            </p>
            <p>
                <small>{{'Use Vibration API'}}</small>
            </p>
        </div>
        <input type="checkbox" [vibrateHaptic]="10" [checked]="vibro.vibrationOn()" (input)="setVibration($event)"
            id="Vibration">
    </section>
    }

    <section [class]="!setts.autoPasteLink()? 'inactive': ''">
        <div>
            <p class="setting-title">
                <label class="label" for="autoPasteLink">📋 {{lang.ph().autoPasteLink}}</label>
                @if(setts.autoPasteLink()) {
                <small class="on">ON</small>
                } @else {
                <small class="off">OFF</small>
                }
            </p>
            <p>
                <small>{{lang.ph().settingAutoPasteLinkDesc}}</small>
            </p>
        </div>
        <input type="checkbox" [vibrateHaptic]="10" [checked]="setts.autoPasteLink()" (input)="setAutoPasteLink($event)"
            id="autoPasteLink">
    </section>

    <section>
        <div>
            <p class="setting-title">
                <span class="label">🖥️ {{lang.ph().displayMode}}</span>
                <small>{{theme.displayMode() | titlecase}}</small>
            </p>
            <p><small>{{lang.ph().displayModeDesc}}</small></p>
        </div>
        <div>
            <app-toggle-bar [options]="theme.displayModeOptions" [value]="theme.displayMode()"
                (valueChange)="theme.setDisplayMode($event)" />
        </div>
    </section>

    <section [class]="!theme.seasonalTheme()? 'inactive': ''">
        <div>
            <p class="setting-title">
                <label class="label" for="seasonalTheme">🎨 {{lang.ph().seasonalTheme}}</label>
                @if(theme.seasonalTheme()) {
                <small class="on">ON</small>
                } @else {
                <small class="off">OFF</small>
                }
            </p>
            <p>
                <small>{{lang.ph().seasonalThemeDesc}}</small>
            </p>
        </div>
        <input type="checkbox" [vibrateHaptic]="10" [checked]="theme.seasonalTheme()" (input)="setSeasonalTheme($event)"
            id="seasonalTheme">
    </section>
</fieldset>

<fieldset>
    <legend>🗐 {{lang.ph().fileSettings}}</legend>

    <section [class]="!fileSetts.saveFileToHistory()? 'inactive': ''">
        <div>
            <p class="setting-title">
                <label class="label" for="saveFileToHistory">💾 Save Local Files in History</label>
                @if(fileSetts.saveFileToHistory()) {
                <small class="on">ON</small>
                } @else {
                <small class="off">OFF</small>
                }
            </p>
            <p>
                <small>{{'Automatically saves files opened locally.'}}</small>
            </p>
        </div>
        <input type="checkbox" [vibrateHaptic]="10" [checked]="fileSetts.saveFileToHistory()"
            (input)="setSaveFileToHistory($event)" id="saveFileToHistory">
    </section>

    @if(fileSetts.saveFileToHistory()){
    <section [class]="!fileSetts.copyFileToHistory()? 'inactive': ''">
        <div>
            <p class="setting-title">
                <label class="label" for="copyFileToHistory">📄 Copy Local Files to History</label>
                @if(fileSetts.copyFileToHistory()) {
                <small class="on">ON</small>
                } @else {
                <small class="off">OFF</small>
                }
            </p>
            <p>
                <small>{{'Adds copies of local files to history.'}}</small>
            </p>
        </div>
        <input type="checkbox" [vibrateHaptic]="10" [checked]="fileSetts.copyFileToHistory()"
            (input)="setCopyFileToHistory($event)" id="copyFileToHistory">
    </section>

    @if(fileSetts.copyFileToHistory()){
    <section>
        <div>
            <p class="setting-title">
                <label class="label" for="storageLimit">⛃ Storage Limit (Mb)</label>
                <small>{{fileSetts.storageLimit()}}</small>
            </p>
            <p><small>{{'Mb'}}</small></p>
        </div>
        <input type="number" [value]="fileSetts.storageLimit()" (input)="setStorageLimit($event)" id="storageLimit">
    </section>

    <section>
        <div>
            <p class="setting-title">
                <label class="label" for="retentionTime">⏱️ Retention Time</label>
                <small>{{fileSetts.retentionTime()}}</small>
            </p>
            <p><small>{{'Days'}}</small></p>
        </div>
        <input type="number" [value]="fileSetts.retentionTime()" (input)="setRetentionTime($event)" id="retentionTime">
    </section>
    }
    }

</fieldset>