svg {
    aspect-ratio: 257/364;
    border: 1px solid;
    grid-area: 1/4;
    width: 100%;
    pointer-events: none;
    user-select: none;
    visibility: hidden;
}

:host {
    display: grid;
    max-height: 100vh;
    aspect-ratio: 257/364;
    --side-gap: 2rem;

    background-color: #fff;
    color: #000;

    gap: 2ch 1ch;
    position: relative;

    grid-template-columns: var(--side-gap) repeat(4, 1fr);
    grid-template-rows: 1fr 2fr 1fr var(--side-gap);

    counter-reset: read-order;
    font-family: 'Troubleside';
}

section {
    opacity: .8;
    border: .4ch solid;
    border-radius: .4ch;
    position: relative;
    display: grid;
    place-items: center;
    overflow: hidden;
    background: var(--bg-1);
    counter-increment: read-order;

    &:nth-child(1),
    &:nth-child(2) {
        border-top: 0;
        border-top-left-radius: unset;
        border-top-right-radius: unset;
    }

    &:nth-child(1) {
        grid-column: 2/span 2;
    }

    &:nth-child(2) {
        grid-column: 4/span 2;
        grid-row: 1;
    }

    &:nth-child(3) {
        grid-column: 2/span 4
    }

    &:nth-child(4) {
        grid-column: 2/span 3;
    }

    &:nth-child(5) {
        grid-column: 5;
    }
}


:host[dir=rtl] {
    section {

        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(5) {
            border-left: 0;
            border-bottom-left-radius: unset;
            border-top-left-radius: unset;
        }
    }
}

:host[dir=ltr] {
    section {
        &::after {
            right: unset;
            left: 1ch;
        }

        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(5) {
            border-right: 0;
            border-top-right-radius: unset;
            border-bottom-right-radius: unset;
        }
    }
}