:host {
    --frame-color: currentColor;
    --border-width: 1px;
    --border-style: solid;
    --back-color: transparent;
    --dot-color: red;
    margin: 0;
    text-transform: uppercase;
    text-align: center;
    gap: 0;
    line-height: 1;
    display: flex;
    gap: .1ch;

    &>span {
        text-box: ex alphabetic;
        aspect-ratio: var(--ratio);
        display: grid;
        border: var(--border-width) var(--border-style) var(--frame-color);
        border-radius: .1ch;
        height: 1.5lh;
        place-content: center;
        background-color: var(--back-color);
        --gl: radial-gradient(circle 1px at 0px 0px, var(--dot-color) 1px, transparent 0);
        --bg-1: var(--gl) 0px 0px / 8px 8px;
        --bg-2: var(--gl) 0px 0px / 4px 4px, var(--gl) 1.5px 1.5px / 4px 4px;
        background: var(--bg-1);
        text-shadow: var(--text-shadow-1);
        transition: all var(--t) ease-in-out;

        &:hover {
            background: var(--bg-2);
        }

        span {
            left: -0.05ch;
            top: -0.05ch;
            position: relative;
            // filter: url("#oneBitShadow");
        }
    }
}