details {
    padding: 1.5ch 2ch;
    border-radius: .5ch;
    // border: 2px solid rgb(0, 40, 64);
    transition: all var(--t) ease-in-out;
    box-shadow: var(--flat-shadow-medium);

    summary {
        cursor: pointer;
        font-weight: bold;
        transition: color var(--t) cubic-bezier(0.45, 0.05, 0.55, 0.95);
    }

    &[open] {
        // border-color: #166496;
        background-color: #103651;

        @media (prefers-color-scheme: light) {
            background-color: #fff897;
        }

        & {
            box-shadow: var(--flat-shadow-medium);
        }

        summary {
            color: #caa902;
            border-bottom: 2px solid var(--shc);
            padding-bottom: 1ch;

            @media (prefers-color-scheme: light) {
                color: #166496;
            }
        }
    }

}

@supports (height: calc-size(auto)) {
    details::details-content {
        display: block;
        height: 0;
        overflow: hidden;
        transition: height var(--t), content-visibility var(--t);
        transition-behavior: allow-discrete;
    }

    details[open]::details-content {
        height: calc-size(auto);
        transition: height var(--t), content-visibility var(--t);
    }
}