:host {
	--W: 100vw;
	--H: 100dvh;
	display: block;
	container-type: size;
	container-name: view;
	width: var(--W);
	height: var(--H);
    transition: all var(--t) ease-in-out;

	&:fullscreen {
		background-color: var(--surface);
		
		app-overlay.top {
			top: min(0vmin, env(safe-area-inset-top));
		}
	}

	.filter {
		z-index: 0;
	}

	&:has(dialog[open]) {
		transform: scale(calc(1 - var(--scale-diff-x, .1)), calc(1 - var(--scale-diff-y, .1)));
		filter: blur(var(--blur));
	}
}

app-warm-filter {
	position: fixed;
}

app-view-mode-bar{
	margin-left: auto;
}

.page {
	position: relative;
}
app-nsfw-warning {
	position: absolute;
	z-index: 1;
	max-width: 400px;
}

figure {
	margin: 0;
	justify-self: baseline;
	position: relative;

	&.nsfw {
		filter: blur(4rem) brightness(.1);
		transition: all var(--t) ease-in-out;
	}
	&.nsfw.show {
		filter: blur(0) brightness(1);
	}
}

.loading-image {
	position: absolute;
	top: 50%; 
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 0; 
	width: 100%;
	padding: 2rem;
}

:host {
	--size-3: 1ch;
	--size-1: 1ch;
	--radius-2: .5ch;
	--surface-2: hsl(203.44 8% 16%);
	--surface-1: #ffd60a;
	--link: #166496;
}

button {
	border: 0;
	padding-inline: var(--size-3);
    padding-block: var(--size-1);
    border-radius: var(--radius-2);
    cursor: pointer;
display: block;
    background: var(--surface-2);
	&:hover {
		background-color: var(--link);
		color: var(--surface-1);
	}
}

.key_button {
	display: inline-grid;
	place-content: center;
	background-color: rgba(0,39,65,1);
	border: 1px solid #166496;
	aspect-ratio: 1;
	height: 3.5ch;
	padding: 1ch .75ch;
	font-size: smaller;
	border-radius: .5ch;
	margin: 0 .25ch;
	text-transform: uppercase;
	font-family: monospace;
	font-weight: bold;
	line-height: 1ch;
	box-shadow: 0 .35ch #166496;
	color: #ffd60a;
}

.hotkeys_hint {
	font-size: 1rem;
	line-height: 2.5;
	display: grid;
	direction: ltr;
	grid-template-columns: 1fr auto;
	column-gap: 1ch;
	& > span {
		justify-self: end;
		opacity: .8;
	}
}

span.title {
	text-shadow: 0 0 0.25ch black;
    font-weight: bold;
    color: white;
}

span.separator {
	user-select: none;
	opacity: .5;
}

code {
	word-break: break-all;
	border: 1px solid #8885;
	display: block;
    padding: 1ch;
	border-radius: 1ch;
    font-size: smaller;
}