:host:has(.view.long) {
	--ratio: auto;
	overflow-y: auto;
	container-type: unset;
	container-name: unset;
	touch-action: pan-y;
}

.view.long {
	// max-width: 100%;
	margin: 0 auto;
	max-width: 800px;


	manga-page, app-manga-page-even {
		max-height: unset;
		width: 100%;
	}


	&>div {
		display: block;
		width: 100%;

		.page {
			display: block;
			width: 100%;

			figure {
				width: 100%;
			}

			img {
				display: block;
				width: auto;
				margin: 0 auto;
				width: 100%;
				height: auto;
				position: relative;
			}
		}
	}

	&>.images {
		min-height: 400px;
	}

	.loading-image {
		text-align: center;
	}
}