<div #viewRef class="view" [class]="viewer.viewModeOption().mode" (scroll)="initActiveIndexes()"
    [dir]="viewer.viewModeOption().dir" (dblclick)="onViewDblClick($event)" (click)="onViewClick($event)">

    <div>
        <div class="page">
            @if(episode?.nsfw && !showNsfw()){
            <app-nsfw-warning style="position: unset;" (agree)="onAgree()" (disagree)="onDisagree()"
                [title]="lang.ph().nsfwWarnTitle" [text]="lang.ph().nsfwWarnText"
                [labelAgree]="lang.ph().nsfwLabelAgree" [labelDisagree]="lang.ph().nsfwLabelDisagree" />
            }
            @else {
            <figure>
                <app-hint-page [class]="viewer.viewModeOption().mode" [currentPlaylistItem]="currentPlaylistItem"
                    [playlist]="playlist" [playlistLink]="playlistLink" />
            </figure>
            }
        </div>
    </div>

    @for(img of episode?.images; track img.src; let i = $index) {
    <div class="images" style="position: relative;">
        <div class="loading-image">
            <loading />
        </div>
        <div class="page">
            @if(episode?.nsfw && !showNsfw()){
            <app-nsfw-warning (agree)="onAgree()" (disagree)="onDisagree()" [title]="lang.ph().nsfwWarnTitle"
                [text]="lang.ph().nsfwWarnText" [labelAgree]="lang.ph().nsfwLabelAgree"
                [labelDisagree]="lang.ph().nsfwLabelDisagree" />
            }
            <figure [class]="{nsfw:episode?.nsfw, show: episode?.nsfw && showNsfw()}">
                <img crossorigin="anonymous" [id]="'page_'+(i+1)" [src]="img.src" [alt]="img.alt" [width]="img.width ?? 1000"
                    [height]="img.height ?? 1000" [loading]="(i==0 || preLoad(i)) ? 'eager' : 'lazy'">
            </figure>
        </div>
    </div>
    } @empty {
    👀
    }
    <div>
        <div class="page">
            <figure>
                <app-manga-page-even [dir]="viewer.viewModeOption().dir">
                    <div dir="ltr" frame="1" style="padding: 1ch; width: 100%; display: grid; place-items: center;">
                        <img style="display: block; max-width:50%;  margin: auto;"
                            src="/assets/images/heart-hand-drawn-symbol-outline-svgrepo-com.svg"
                            alt="heart-hand-drawn-symbol-outline">
                    </div>

                    <div dir="ltr" frame="5" style="padding: 1ch; width: 100%; display: grid; place-items: center;">
                        <img style="display: block; max-width:60%;  margin: auto;"
                            src="/assets/images/map-hand-drawn-paper-svgrepo-com.svg" alt="map-hand-drawn-paper">
                    </div>

                    <div dir="ltr" frame="2" style="padding: 1ch; width: 100%; display: grid; place-items: center;">
                        <img style="display: block; max-width:50%;  margin: auto;"
                            src="/assets/images/web-comics-svgrepo-com.svg" alt="map-hand-drawn-paper">
                    </div>

                    <!-- <img frame="2" style="display: block;  margin: auto;" src="/assets/images/smile-hand-drawn-emoticon-svgrepo-com.svg" >
                    <img frame="2" style="display: block;  margin: auto;" src="/assets/images/web-comics-svgrepo-com.svg" >
                    <img frame="2" style="display: block;  margin: auto;" src="/assets/images/woman-young-head-hand-drawn-outline-svgrepo-com.svg" > -->

                    <div dir="ltr" frame="3"
                        style="padding: 1ch; width: 100%; height: 100%; display: grid; place-items: center;">
                        <img style="display: block; max-width: 40%; margin: auto;" src="/assets/icons/icon-line.svg"
                            alt="Chytanka logo">
                        <div>
                            <p style="text-align: center;">Кінець епізоду</p>
                            @if(episode?.publisher?.id) {
                            <p>Робота від <a [href]="episode?.publisher?.site" target="_blank" rel="noopener noreferrer">{{episode?.publisher?.name}}</a></p>
                            <div style="display: flex; justify-content: center; flex-wrap: wrap; gap: 1ch; font-size: x-small;">
                                @for (l of episode?.publisher?.links; track $index) {
                                <a [href]="l.link" target="_blank" rel="noopener noreferrer">{{l.title}}</a>
                                }
                            </div>
                            }
                        </div>

                        @if (getNextIndex() >=0 && playlist[getNextIndex()]; as next) {

                        <a dir="ltr" [routerLink]="['/', next.site, next.id]"
                            [queryParams]="{lang: lang.lang(), list: playlistLink, vm: viewer.viewModeOption().code}">
                            {{next.title??
                            lang.ph().untitled + ' ' + (getNextIndex() + 1)}} ⏩</a>
                        }
                    </div>
                    <div dir="ltr" frame="4"
                        style="padding: 1ch; text-align: center; display: grid; place-content: center;">
                        <ng-content />
                    </div>
                </app-manga-page-even>

            </figure>
        </div>
    </div>
    @if((episode?.images?.length??0) % 2 > 0) {
    <div>
        <div class="page"></div>
    </div>
    }
    <!-- <div class="copyright-content" [ngClass]="{'dual': (episode?.images?.length??0) % 2 > 0}">
        <div class="page">
            <ng-content />
            @if (getNextIndex() >=0 && playlist[getNextIndex()]; as next) {

            <a dir="ltr" [routerLink]="['/', next.site, next.id]"
                [queryParams]="{lang: lang.lang(), list: playlistLink, vm: viewer.viewModeOption().code}">
                {{next.title??
                lang.ph().untitled + ' ' + (getNextIndex() + 1)}} ⏩</a>
            }
        </div>
    </div> -->

</div>

@defer{
<app-viewer-header [show]="showOverlay" [episode]="episode" [playlistLink]="playlistLink"
    [currentPlaylistItem]="currentPlaylistItem" (onToggle)="isDialogOpen.set($event)" />
}

@defer{
<app-viewer-footer [show]="showOverlay" [currentPlaylistItem]="currentPlaylistItem" [playlist]="playlist"
    [playlistLink]="playlistLink" [episode]="episode" [activeIndexs]="activeIndexs()"
    (togglefulscreen)="toggleFullScreen()" (pageactive)="onActive($event)" (onToggle)="isDialogOpen.set($event)" />
}

@defer{
<app-warm-filter class="filter" [kelvin]="viewer.nightlight()" />
<fx-rough-paper />
<fx-sharpen />
}