<div #viewRef class="view" [class]="viewer.viewModeOption().mode" (scroll)="initActiveIndexes()"
    [dir]="viewer.viewModeOption().dir" (dblclick)="onViewDblClick($event)" (click)="onViewClick($event)">

    <div>
        <div class="page">
            @if(episode?.nsfw && !showNsfw()){
            <app-nsfw-warning style="position: unset;" (agree)="onAgree()" (disagree)="onDisagree()"
                [title]="lang.ph().nsfwWarnTitle" [text]="lang.ph().nsfwWarnText"
                [labelAgree]="lang.ph().nsfwLabelAgree" [labelDisagree]="lang.ph().nsfwLabelDisagree" />
            }
            @else {
            <figure>
                <app-hint-page [class]="viewer.viewModeOption().mode" [currentPlaylistItem]="currentPlaylistItem"
                    [playlist]="playlist" [playlistLink]="playlistLink" />
            </figure>
            }
        </div>
    </div>

    @for(img of episode?.images; track img.src; let i = $index) {
    <div class="images" style="position: relative;">
        <div class="loading-image">
            <loading />
        </div>
        <div class="page">
            @if(episode?.nsfw && !showNsfw()){
            <app-nsfw-warning (agree)="onAgree()" (disagree)="onDisagree()" [title]="lang.ph().nsfwWarnTitle"
                [text]="lang.ph().nsfwWarnText" [labelAgree]="lang.ph().nsfwLabelAgree"
                [labelDisagree]="lang.ph().nsfwLabelDisagree" />
            }
            <figure [class]="{nsfw:episode?.nsfw, show: episode?.nsfw && showNsfw()}">
                <img crossorigin="anonymous" [id]="'page_'+(i+1)" [src]="img.src" [alt]="img.alt"
                    [width]="img.width ?? 1000" [height]="img.height ?? 1000"
                    [loading]="(i==0 || preLoad(i)) ? 'eager' : 'lazy'">
            </figure>
        </div>
    </div>
    } @empty {
    👀
    }
    <div>
        <div class="page">
            <figure class="last-hint-page" [class]="viewer.viewModeOption().mode">
                <app-thanks-page [playlist]="playlist" [currentPlaylistItem]="currentPlaylistItem"
                    [episode]="episode" [playlistLink]="playlistLink">
                    <ng-content ngProjectAs="source-logo" select="source-logo" />
                    <ng-content />
                </app-thanks-page>

            </figure>
        </div>
    </div>
    @if((episode?.images?.length??0) % 2 > 0) {
    <div>
        <div class="page"></div>
    </div>
    }
</div>

@defer{
@if (episode) {
<app-viewer-header [show]="showOverlay" [episode]="episode" [playlistLink]="playlistLink"
    [currentPlaylistItem]="currentPlaylistItem" (onToggle)="isDialogOpen.set($event)" />
}
}

@defer{
<app-viewer-footer [show]="showOverlay" [currentPlaylistItem]="currentPlaylistItem" [playlist]="playlist"
    [playlistLink]="playlistLink" [episode]="episode" [activeIndexs]="activeIndexs()"
    (togglefulscreen)="toggleFullScreen()" (pageactive)="onActive($event)" (onToggle)="isDialogOpen.set($event)" />
}

@defer{
<app-warm-filter class="filter" [kelvin]="viewer.nightlight()" />
<fx-rough-paper />
<fx-sharpen />
}