app-view-mode-bar {
    margin-left: auto;
}

.open-chtnk-link {
    aspect-ratio: 1;
    width: 2rem;

    background-image: url('/assets/icons/icon-72x72.svg');
    background-size: 150%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;

    &::after {
        content: unset;
    }

    img {
        display: inline-block;
        width: 1.5rem;
    }
}

.title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}