@let ph = lang.ph();
<app-overlay class="top" [ngClass]="{'show': show()}">
    @if(!embedHelper.isEmbedded()){
    <a [vibrateHaptic]="10" class="button " [routerLink]="['/']">🏠</a>
    <app-file-change [label]="'📃'" />
    } @else {
    <a title="Read on Chytanka" class="button open-chtnk-link" [href]="link()" target="_blank"
        rel="noopener noreferrer"></a>
    }
    <separator />
    @if (!isFileRoute()) {
    <button [vibrateHaptic]="10" class="button tshadow " [title]="ph.share" (click)="showShare()">📢</button>
    <!-- <button [vibrateHaptic]="10" class="button tshadow" [title]="'Download'" (click)="showDownload()">📥</button> -->
    }
    <button [vibrateHaptic]="10" class="button tshadow " [title]="titleText()"
        (click)="showInfo()">{{titleText()}}</button>

    <app-view-mode-bar (valueChange)="setViewModeOption($event)" [options]="viewer.viewModeOptions"
        [value]="viewer.viewModeOption().code" />
</app-overlay>

<app-dialog class="dialog" #shareDialog (onToggle)="onToggle.emit($event)" [title]="'📢 ' + ph.share">
    <episode-share-form [episode]="episode()" [playlistLink]="playlistLink()"
        (shareLinkUpdate)="onShareLinkUpdate($event)" />
</app-dialog>

<app-dialog class="dialog" #downloadDialog (onToggle)="onToggle.emit($event)" [title]="'📥 Download '+ episode().title">
    <episode-download-form [episode]="episode()" [currentPlaylistItem]="currentPlaylistItem()" />
</app-dialog>

<app-dialog class="dialog" #infoDialog (onToggle)="onToggle.emit($event)" [title]="'ℹ️️ '+ titleText()">
    <episode-info-table [episode]="episode()" />
</app-dialog>